{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class = "box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190 العودة للتسوق</a>
                <br>
                <br>
                <table class="table" >
                    <tr>
                        <td style="width: 30%;">
                            <a class="btn" style="float:left; margin: 5px; background-color: #d3c3c3;" href="{% url 'checkout' %}">الدفع</a>
                        </td>
                        <td style="width: 30%; padding-top: 20px; direction: rtl;">
                            <div style="display: inline-block;"><h5>المجموع:</h5></div>
                            <div style="display: inline-block; padding-right: 10px;"><h5><strong>{{order.get_cart_total}} ريال</strong></h5></div>
                        </td>
                        <td style="width: 30%; padding-top: 20px; direction: rtl;">
                            <div style="display: inline-block; padding-top: 5px;"><h5>المنتجات:</h5></div>
                            <div style="display: inline-block; padding-right: 10px;"><h5><strong>{{order.get_cart_items}} ريال</strong></h5></div>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class = "box-element">
                <div class="cart-row">
                    <div style="flex: 1; text-align: right;">
                        <strong>
                            المجموع
                        </strong>
                    </div>
                    <div style="flex: 1; text-align: right;">
                        <strong>
                            الكمية
                        </strong>
                    </div>
                    <div style="flex: 1; text-align: right;">
                        <strong>
                            السعر
                        </strong>
                    </div>
                    <div style="flex: 2; text-align: right;">
                        <strong>
                            المنتج
                        </strong>
                    </div> 
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 1; direction: rtl; padding-top: 35px;">
                        {{item.get_total|floatformat:2}} ريال
                    </div>
                    <div style="flex: 1; direction: rtl; padding-top: 35px;">
                        <div class="quantity">
                            <img class="chg-quantity" style="margin-top: 1px;" src="{% static 'images/arrow-up.png' %}" />
                            <img class="chg-quantity" src="{% static 'images/arrow-down.png' %}" />
                        </div>
                        <div class="quantity" style="vertical-align: top; ">
                            <p>{{item.quantity}}</p>
                        </div>
                    </div>
                    <div style="flex: 1; direction: rtl; padding-top: 35px;">
                        {{item.product.price|floatformat:2}} ريال
                    </div>
                    <div style="flex: 2; direction: rtl;">
                        <img class="row-image" src="{{ item.product.imageURL }}" />
                        <p style="display: inline-block; padding-right: 15px;">{{ item.product.name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
{% endblock content %}
