{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" style="background-color: #706f7b; color:white;" href="{% url 'store' %}">&#x2190 العودة للتسوق</a>
                <hr>
                <h3 style="direction: rtl;">ملخص الطلب</h3>
                <hr>
                <div class="cart-row">
                    <div style="flex:2; direction: rtl;">
                        <img class="row-image" src="{% static 'images/placeholder.png' %}" />
                        <div style="flex:2; width:25%; display :inline-block; padding-right: 10px; "><p>المنتج</p></div>
                        <div style="flex:1; width:25%; display :inline-block; padding-right: 10px; text-align: center;"><p>20 ريال</p></div>
                        <div style="flex:1; width:25%; display :inline-block; padding-right: 10px; text-align: center;"><p>x2</p></div>
                    </div>
                </div>
                <div style="direction: rtl;">
                    <h5 style="display: inline-block; width: 49%;">عدد المنتجات: </h5>
                    <h5 style="display: inline-block; width: 49%; text-align: left; ">٢ منتج</h5>
                </div>
                <div style="direction: rtl;">
                    <h5 style="display: inline-block; width: 49%;">المجموع الكلي: </h5>
                    <h5 style="display: inline-block; width: 49%; text-align: left; ">٢٠٠ ريال</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info" style="direction: rtl;">
                        <div class="form-field">
                            <input required class="form-control" style="text-align: right; align-self: right: inherit;" type="text" name="name" placeholder="الاسم ....." />
                        </div>
                        <div class="form-field">
                            <input required class="form-control" style="text-align: right; align-self: right: inherit;" type="email" placeholder="البريد الالكتروني ....." />
                        </div>
                    </div>
                    <div id="shipping-info" style="direction: rtl;">
                        <hr>
                        <p style="text-align: right;">معلومات الشحن</p>
                        <div class="form-field">
                            <input class="form-control" style="text-align: right;" type="text" name="address" placeholder="العنوان....." />
                        </div>
                        <div class="form-field">
                            <input class="form-control" style="text-align: right;" type="text" name="city" placeholder="المدينة ....." />
                        </div>
                        <div class="form-field">
                            <input class="form-control" style="text-align: right;" type="text" name="state" placeholder="المنطقة ....." />
                        </div>
                        <div class="form-field">
                            <input class="form-control" style="text-align: right;" type="text" name="address" placeholder="الرمز البريدي ....." />
                        </div>
                        <div class="form-field">
                            <input class="form-control" style="text-align: right;" type="text" name="address" placeholder="الدولة ....." />
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-block" style="width:100%; background-color: #d3c3c3;" type="submit" value="المتابعة"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
