{% extends 'store/main.html' %}
{% load static %}


{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}" />
            <div class="box-element product" style="direction: rtl;">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <h4 style="display:inline-block;">{{product.price|floatformat:2}} ريال</h4>
                <button class="btn btn-outline-secondary add-btn" style="float: left;">
                    إضافة للسلة
                </button>
                <a class="btn" style="float: left;colo" href= "#">تفاصيل</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
